/* 
+-------------------------------------------------------+
| Rajarshi Das						                    |
+-------------------------------------------------------+
| Created On: 11-May-2024                               |
| Updated On: 31-Dec-2025                               |
+-------------------------------------------------------+
*/
@import url('./normalize.css');

/* Segoi UI */
@font-face {
    font-family: 'Segoe UI';
    src: url('./fonts/segoe-ui.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe SL';
    src: url('./fonts/segoe-ui-semilight.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('./fonts/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Roboto Bold';
    src: url('./fonts/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}

/* Root Element */
html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: "Segoe UI", "Roboto", "Arial";
    color: var(--rd-dark-gray);
}

table tr td {
    font-family: 'Segoe SL';
}

table thead tr td {
    font-family: 'Segoe UI';
}