/* Create a softlink to this File in w3root
+-------------------------------------------------------+
| Rajarshi Das						                    |
+-------------------------------------------------------+
| Created On:   11-May-2024                             |
| Updated On:                                           |
+-------------------------------------------------------+
*/
@import url('normalize.css');

/* Segoi UI */
@font-face {
    font-family: 'Segoe UI';
    src: url('fonts/segoe-ui.woff2');
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/Roboto-Bold.ttf');
}

/* Root Element */
html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: "Segoe UI", "Roboto", "Arial";
    color: var(--rd-dark-gray);
}